blessed==1.20.0
blessings==1.7
click==7.1.2
curtsies==0.3.10
cwcwidth==0.1.9
editor==1.6.6
eralchemy==1.5.0
greenlet==3.1.1
inquirer==3.4.0
mysqlclient==2.2.6
numpy==2.2.1
pandas==2.2.3
psycopg2==2.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
readchar==4.2.1
runs==1.2.2
six==1.17.0
SQLAlchemy==2.0.36
typing_extensions==4.12.2
tzdata==2024.2
wcwidth==0.2.13
xmod==1.8.1
